torch
torch-geometric
xgboost
shap
lime
pandas
numpy
scikit-learn
fastapi
uvicorn
langchain
neo4j
psycopg2-binary
python-dotenv
jupyterlab
xgboost-gpu,
rapids-cu12,
psycopg2,
fastapi,
uvicorn,
prometheus-client,
alibi-detect
